<h3>
   Billing
   <small></small>
</h3>
<section class="row billingView">
    <div class="col-md-6">
        <div class="well col-md-12">
            <div class="col-md-12">
                <h3>You Owe<span class="pull-right">$ 0.00</span></h3>
            </div>
            <div class="col-md-offset-2 col-md-8 padding-top-20">
                <a href="#" class="btn btn-block btn-primary">Earn More Credit</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well col-md-12">
            <div class="col-md-12">
                <h3>Usage<span class="pull-right">$ 0.00</span></h3>
            </div>
            <div class="col-md-offset-2 col-md-8 padding-top-20">
                <a href="#" class="btn btn-block">View Usage Details</a>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="well col-md-12">
            <div class="col-md-12">
                <h3>Billing Alerts</h3>
            </div>
            <div class="col-md-7 padding-top-10">
                <div class="checkbox c-checkbox">
                    <label>
                        <input type="checkbox">
                        <span class="fa fa-check"></span>Send me an email anytime my monthly usage has exceeded the amount listed to the right
                    </label>
                </div>
            </div>
            <div class="col-md-5 padding-top-10">
                <div class="col-md-6 row">
                    <div class="labelinput">
                        <label>Alert Amount ($)</label>
                        <input type="text" class="form-control"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <button type="button" class="btn">Save</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="well col-md-12">
            <div class="col-md-12">
                <h3>Payment Methods</h3>
                <p>Please enter your preferred payment method below. You can use a credit card or prepay through Paypal.</p>
            </div>
            <div class="col-md-12 padding-top-20">
                <uib-tabset>
                    <uib-tab heading="Credit Card">
                    <div class="col-md-12">
                        <div class="col-md-12 padding-top-10">
                            <h4>Credit Cards</h4>
                        </div>
                        <div class="col-md-7 padding-top-10">
                            <p>
                                Card will be changed monthly for resources used.<br>
                                All major credit cards accepted.
                            </p>
                        </div>
                        <div class="col-md-5 padding-top-10">
                            <button type="button" class="btn">Add Credit Card</button>
                        </div>
                    </div>
                </uib-tab>
                    <uib-tab heading="Paypal">
                    <div class="col-md-12">
                        <div class="col-md-12 padding-top-10">
                            <h4>Paypal</h4>
                        </div>
                    </div>
                </uib-tab>
            </div>
        </div>
    </div>
</section>