<h3>
   Profile
   <small></small>
</h3>
<section class="row profileView">
    <div class="col-lg-10">
        <div class="well col-md-12">
            <div class="col-md-8">
                <div class="col-md-12 row">
                    <div class="pull-left">
                        <img class="userimg" src="modules/home/img/footer/testimonial-1.jpg"/>
                    </div>
                    <div class="pull-left padding-left-20">
                        <h4>namanhonest</h4>
                        <p>namanhonest@outlook.com</p>
                        <p>Member Since 12/04/2015</p>
                        <p><a href="#">Add Your Address</a></p>
                        <p>Droplet Limit: 10  <a href="#">Increase</a></p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 padding-top-20">
                <a href="#" class="btn">Edit Profile</a>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="well col-md-12">
            <div class="col-md-12">
                <h3>Connect Your Social Networks</h3>
                <p>Connect your Twitter and Github accounts with DigitalOcean. We only use this informations to verify your account. We'll never spam you, post on your behalf or do anything sketchy like that.</p>
            </div>
            <div class="col-md-12 padding-top-20">
                <a href="#" class="btn btn-primary">
                    Connect to Stack Overflow&nbsp;&nbsp;&nbsp;<i class="fa fa-stack-overflow font20"></i>
                </a>
                <a href="#" class="btn btn-primary margin-left-10">
                    Connect to Github&nbsp;&nbsp;&nbsp;<i class="fa fa-github-square font20"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="col-lg-10">
        <div class="well col-md-12">
            <div class="col-md-8">
                <h3>Deactive Account</h3>
                <p>This will permantely delete all Droplets and Backups</p>
            </div>
            <div class="col-md-4 padding-top-20">
                <a href="#" class="btn btn-danger">Deactive Account</a>
            </div>
        </div>
    </div>
</section>