<div class="login-panel">
    <h3>Login</h3>
    <div class="form-group">
        <input type="text" placeholder="Username" class="form-control bordered-input">
    </div>
    <div class="form-group">
        <input type="password" placeholder="Password" class="form-control bordered-input">
    </div>
    <div class="pull-left">
    	<div>
    		<a class="forgotpwd" href="#">Forgot Password?</a>
    	</div>
        <div class="social">
            <a href="#" class="font-black social"><i class="fa fa-linkedin-square fa-34p"></i></a>
            <a href="#" class="font-black social"><i class="fa fa-github-square fa-34p"></i></a>
            <a href="#" class="font-black social"><i class="fa fa-google-plus-square fa-34p"></i></a>
            <a href="#" class="font-black social"><i class="fa fa-stack-overflow fa-34p"></i></a>
        </div>
    </div>
    <div class="pull-right">
        <a href="#" class="btn btn-sky login">Submit</a>
    </div>
</div>