<h3>
   <a ui-sref="app.subscription">Subscription</a>
   <small>Reactivate Subscription</small>
</h3>
<section class="row subscriptionView">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Reactivate Subscription</h4>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <form name="form">
                        <p> Reactivation will change your subscription's state to  
                            <span class="label-success label"> ACTIVE</span> </p>
                        <div class="alert alert-warning">
                            <i class="fa fa-warning fa-sign"></i>
                            <span>
                                The subscription fee will be charged during reactivation. 
                                If charge attempt fails, your subscription won't be reactivated.<br>
                                If there's no card on file, 
                                invoice will be marked as payment due.
                            </span>
                        </div>
                        <div class="form-inline">
                            <span class="form-group">
                                <button type="button"class="btn btn-danger btn-sm" ng-click="reactiveSub()">
                                    <i class="fa fa-spinner fa-pulse" ng-show="loading"></i> Re-activate My Subscription
                                </button>
                            </span>
                            <span class="form-inline">
                                <a ui-sref="app.subscription" class="btn btn-link btn-sm">Go back</a>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
      <!-- END panel-->
    </div>
</section>