<h3>
   <a ui-sref="app.subscription">Subscription</a>
   <small>Customer Information Edit</small>
</h3>
<section class="row subscriptionView">
    <div class="col-lg-10">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4>Customer Information</h4>
            </div>
            <div class="panel-body">
                <div class="col-sm-12">
                    <form name="form" novalidate>
                        <div class="row">
                            <input type="hidden" name="id" ng-model="customer.id"/>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="first_name">First Name</label>
                                    <small for="first_name" class="pull-right text-danger">&nbsp;</small>
                                    <input type="text" class="form-control" name="first_name" placeholder="Enter your first name" 
                                           ng-model="customer.first_name" maxlength=50 required/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="last_name">Last Name</label>
                                    <small for="last_name" class="pull-right text-danger">&nbsp;</small>
                                    <input type="text" class="form-control" name="last_name" placeholder="Enter your last name" 
                                           maxlength=50 ng-model="customer.last_name" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label  for="email">Email</label>
                                    <small for="email" class="pull-right text-danger">&nbsp;</small>
                                    <input type="email" class="form-control" name="email" placeholder="Enter your email address" 
                                        maxlength=50 ng-model="customer.email" required/>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="company">Organization</label>
                                    <small for="company" class="pull-right text-danger">&nbsp;</small>
                                    <input type="text" class="form-control" name="company" placeholder="Enter your organization name" 
                                       maxlength=50 ng-model="customer.company" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="phone">Phone Number</label>
                                    <small for="phone" class="pull-right text-danger">&nbsp;</small>
                                    <input type="text" name="phone" class="form-control" placeholder="Enter your phone number" 
                                        maxlength=50 ng-model="customer.phone" required/>
                                </div>
                            </div>
                        </div>
                        <hr class="clearfix dashed">
                        <div class="form-inline">
                            <span class="form-group">
                                <button type="button" class="btn btn-sm btn-primary" ng-click="updateCusInfo()">
                                    <i class="fa fa-spinner fa-pulse" ng-show="loading"></i> Update
                                </button>
                            </span>
                            <span class="form-group">
                                <a ui-sref="app.subscription" class="btn btn-sm btn-link">Cancel</a>
                            </span>
                            <span class="alert-danger"></span>
                        </div>
                    </form> 
                </div>   
            </div>
        </div>
      <!-- END panel-->
    </div>
</section>