<div ng-controller="HomeController">
  <div class="top-parallax large" parallax parallax-ratio="0.2">
    <div class="display">
      <div class="slider-bg" backstretch backstretch-images="top.backstretch" backstretch-duration="10550" backstretch-fade="1">   
        </div> 
    </div>
    <section class="container">
        <div class="home">
            <div class="row">
                <div class="intro col-sm-12">
                    <h1>Because inspiration isn’t listed on a project plan</h>
                    <h2>From sign up to development in 15 minutes.  <a href="#">Learn More</a></h2>
                </div>
                <div class="introinput col-sm-12">
                    <div class="col-sm-3 col-xs-6">
                        <input type="email" class="form-control" name="email" placeholder="Email Address"/>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <input type="password" class="form-control" name="password" placeholder="Password"/>
                    </div>
                    <div class="social col-sm-6 col-xs-12">
                        <a href="#" class="btn btn-sky">CREATE ACCOUNT</a>
                        <a href="#" class="social"><i class="fa fa-linkedin-square fa-34p"></i></a>
                        <a href="#" class="social"><i class="fa fa-github-square fa-34p"></i></a>
                        <a href="#" class="social"><i class="fa fa-google-plus-square fa-34p"></i></a>
                        <a href="#" class="social"><i class="fa fa-stack-overflow fa-34p"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="top">
    </section>
  </div>

  <article class="main">
      <section class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="content-panel-title">
                      <!-- Content panel title for padding and border -->
                      <h2>What we do?</h2>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                      <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, non auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                      <img class="content-image" ng-src="modules/core/client/img/filler/4.jpg" alt="" />
                      <p>Nunc vehicula dapibus auctor ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, auctor nec massa. Leo mauris at tortor. Nunc et tortor sit amet orci non consequat semper. Nulla non fringilla diam.</p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                      <img class="content-image" ng-src="modules/core/client/img/filler/16.jpg" alt="" />
                      <p>Proin ut quam eros. Donec sed lobortis diam. Ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor. Nunc et tortor sit amet orci consequat semper. Nulla non fringilla diam.</p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                      <img class="content-image" ng-src="modules/core/client/img/filler/17.jpg" alt="" />
                      <p>Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor. Nunc et tortor sit amet orci non consequat semper. Nulla non fringilla diam.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="content-panel-title">
                      <!-- Content panel title for padding and border -->
                      <h2>Our work</h2>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                      <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                      <div class="boxgrid" box-grid-effects="slideright">
                          <img class="cover" ng-src="modules/core/client/img/filler/11.jpg" alt="" />
                          <h3>Project</h3>
                          <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="portfolioitem">More Work</a></p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                      <div class="boxgrid" box-grid-effects="slideright">
                          <img class="cover" ng-src="modules/core/client/img/filler/10.jpg" alt="" />
                          <h3>Project</h3>
                          <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="portfolioitem">More Work</a></p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                      <div class="boxgrid" box-grid-effects="slideright">
                          <img class="cover" ng-src="modules/core/client/img/filler/9.jpg" alt="" />
                          <h3>Project</h3>
                          <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="portfolioitem">More Work</a></p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                      <div class="boxgrid" box-grid-effects="slideright">
                          <img class="cover" ng-src="modules/core/client/img/filler/8.jpg" alt="" />
                          <h3>Project</h3>
                          <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="portfolioitem">More Work</a></p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                      <div class="boxgrid" box-grid-effects="slideright">
                          <img class="cover" ng-src="modules/core/client/img/filler/7.jpg" alt="" />
                          <h3>Project</h3>
                          <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="portfolioitem">More Work</a></p>
                      </div>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                      <div class="boxgrid" box-grid-effects="slideright">
                          <img class="cover" ng-src="modules/core/client/img/filler/6.jpg" alt="" />
                          <h3>Project</h3>
                          <p>Aenean tempus dui<br/><a class="soft-hover" ng-href="portfolioitem">More Work</a></p>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="content-panel-title">
                      <!-- Content panel title for padding and border -->
                      <h2>Clients</h2>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                      <p>Nunc vehicula dapibus ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, auctor nec massa. Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor.</p>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                    <flex-slider fslide="item in clients" control-nav="false" direction-nav="false" animation="slide" animation-loop="true" item-width="144" item-margin="5" min-items="1" max-items="8">
                      <li>
                        <img ng-src="{{ item }}" alt="" />
                      </li>
                    </flex-slider>
                  </div>
              </div>
          </div>
      </section>
  </article>
</div>