//public/less/angle/app/core/customer-portal/billing/billing.less

/*----------------------*/
/*-----Billing Page-----*/
/*----------------------*/
.invoiceView table > tbody > tr > th {
  background: @gray-200;
  font-weight: bold;
}

.invoiceView table > tbody > tr > td,
.invoiceView table > tbody > tr > th {
  border: none;
  border-bottom: 1px solid @gray-300;
}
