<div class="container" ng-controller="FooterController">
  <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 col-sm-offset-1">
      <h3 class="footer-title">Product</h3>

      <ul>
        <li><a href="#">Features</a></li>
        <li><a href="#">Pricing</a></li>
        <li><a href="#">Instant-Apps</a></li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <h3 class="footer-title">Company</h3>

      <ul>
        <li><a href="#">About us</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <h3 class="footer-title">Help</h3>

      <ul>
        <li><a href="#">Getting Started</a></li>
        <li><a href="#">Feedback</a></li>
        <li><a href="#">Referral Program</a></li>
        <li><a href="#">FAQ</a></li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <h3 class="footer-title">Community</h3>

      <ul>
        <li><a href="#">Tutorials</a></li>
        <li><a href="#">Questions</a></li>
        <li><a href="#">Tutorial Suggestions</a></li>
        <li><a href="#">Get Paid to Write</a></li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
      <h3 class="footer-title">Connect</h3>

      <ul>
        <li><a href="#">Blog</a></li>
        <li><a href="#">LinkedIn</a></li>
        <li><a href="#">Github</a></li>
        <li><a href="#">Meetup</a></li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="footer-content">
        <p>The Digital Garage, LLC<br/>Copyright c 2016<br/>Denver, CO 80021</p>
      </div>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <ul class="footer-content social">
        <li>
          <a href="#" class="social-dribbble"></a>
        </li>
        <li>
          <a href="#" class="social-facebook"></a>
        </li>
        <li>
          <a href="#" class="social-flickr"></a>
        </li>
        <li>
          <a href="#" class="social-google-plus"></a>
        </li>
        <li>
          <a href="#" class="social-linkedin"></a>
        </li>
        <li>
          <a href="#" class="social-tumblr"></a>
        </li>
        <li>
          <a href="#" class="social-twitter"></a>
        </li>
        <li>
          <a href="#" class="social-vimeo"></a>
        </li>
        <li>
          <a href="#" class="social-youtube"></a>
        </li>
      </ul>
    </div>
    <div class="clearfix visible-xs"></div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div class="footer-content">
        <p>&copy; {{app.year}} &nbsp;{{brand}}.<br/> All rights reserved</p>
      </div>
    </div>
  </div>
</div>
