<nav class="navbar navbar-fixed-top frontnav" role="navigation" ng-controller="HeaderController" ng-class="{flip: 50 >= top()}">
  <div class="container" scroll-position="scroll">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">{{ brand }}</a>
    </div>
    <!-- <div class="collapse navbar-collapse" collapse="isCollapsed"> -->
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" dropdown>
          <a href="#">Features</a>
        </li>
        <li class="dropdown ng-scope" dropdown>
          <a href="#">Pricing</a>
        </li>
        <li class="dropdown ng-scope" dropdown>
          <a href="#">Community</a>
        </li>
        <li class="dropdown ng-scope" dropdown>
          <a href="#" ng-click="login();">Login</a>
        </li>
        <li class="dropdown" dropdown>
          <a id="signup" ng-click="regKeyCloak();">Sign Up</a>
        </li>
        <!--
        <li class="dropdown" dropdown>
          <a href="#" ng-click="logoutKeyCloak();">Logout</a>
        </li>
        -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>
