<div ng-controller="HomeController">
  <div class="top-parallax large" parallax parallax-ratio="0.2">
    <div class="display">
      <div class="slider-bg" backstretch backstretch-images="top.backstretch" backstretch-duration="10550" backstretch-fade="1">
        </div>
    </div>
    <section class="container">
        <div class="home">
            <div class="row">
                <div class="intro col-sm-12">
                    <h1>Because inspiration isn’t listed on a project plan</h1>
                    <h2>From sign up to development in 15 minutes.  <a href="#">Learn More</a></h2>
                </div>
            </div>
        </div>
    </section>
    <section class="top">
    </section>
  </div>

  <article id="about" class="main">
      <a href="#about" class="btn btn-circle top-center">
          <i class="fa fa-angle-down animated"></i>
      </a>
      <section class="container">
          <div class="row">
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                      <img class="circle-bordered center" ng-src="modules/home/img/icons/ic_open_75px.png" alt="" />
                      <h3 class="text-center">Open</h3>
                      <p>Nunc vehicula dapibus auctor ipsum. Duis venenatis risus non nunc fermentum dapibus. Morbi lorem ante, malesuada in mollis nec, auctor nec massa. Leo mauris at tortor. Nunc et tortor sit amet orci non consequat semper. Nulla non fringilla diam. <a href="#">Learn More</a></p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                      <img class="circle-bordered center" ng-src="modules/home/img/icons/ic_play_75px.png" alt="" />
                      <h3 class="text-center">Simple</h3>
                      <p>Proin ut quam eros. Donec sed lobortis diam. Ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor. Nunc et tortor sit amet orci consequat semper. Nulla non fringilla diam. <a href="#">Learn More</a></p>
                  </div>
              </div>
              <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                  <div class="content-panel">
                      <!-- Content panel in every span for padding -->
                      <img class="circle-bordered center" ng-src="modules/home/img/icons/ic_code_75px.png" alt="" />
                      <h3 class="text-center">Flexible</h3>
                      <p>Aenean tempus dui eget felis blandit at fringilla urna ultrices. Suspendisse feugiat, ante et viverra lacinia, lectus sem lobortis dui, ultricies consectetur leo mauris at tortor. Nunc et tortor sit amet orci non consequat semper. Nulla non fringilla diam. <a href="#">Learn More</a></p>
                  </div>
              </div>
          </div>
      </section>
  </article>

  <article class="pricing">
      <a href="#pricing" class="btn btn-circle bottom-center">
          <i class="fa fa-angle-down animated"></i>
      </a>
      <section class="container">
          <div class="row top-buffer">
              <div class="intro col-sm-12">
                  <h2 class="text-center">Simple Pricing</h1>
                  <h4 class="text-center">Start with a simple $5 per month. As you grow, you pay only for the resources you use</h2>
              </div>
          </div>

          <div class="row top-buffer">
              <div class="intro col-sm-2 fa-icon-container">
                <i class="fa fa-fire big"></i>
              </div>
              <div class="intro col-sm-10">
                  <h3>Get Started with Ignition</h3>
                  <div class="col-sm-12">
                      <p>To get you started, The Digital Garage has put together a base package for just $5 month.</p>
                      <p>For $5 month, you get: 512 MB / 1 cpu, 10 GB of SSD Disk and 1TB of Transfer</p>
                  </div>
              </div>
          </div>

          <div class="row bottom-buffer">
              <div class="intro col-sm-2 fa-icon-container">
                  <i class="fa fa-cloud big"></i>
              </div>
              <div class="intro col-sm-10 icon-container">
                  <h3>Simple usage-based pricing</h3>
                  <div class="col-sm-12">
                      <p>With The Digital Garage, you pay only for the RAM you use. At $0.03/GB-hr let the platform provide everything your app needs to run. Scale out with app instances as your business needs grow. Expand your app with popular 3rd party services in a single click.</p>
                  </div>
              </div>
          </div>
      </section>
  </article>

  <article id="ACCOUNT" class="main">
    <section class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
          <div class="content-panel">
            <h2>The Digital Garage</h2>
            <h3>Simple DevOps, Built for Developers</h3>
            <div class="col-sm-12 col-md-12 col-lg-12">
              <hr class="col-sm-6 col-md-6 col-lg-6 col-sm-offset-1 vertical-separator">
            </div>
            <h4>Get your Dev on in under 5 minutes.</h4>
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
          <div class="row"></div>
          <div class="content-panel">
            <div class="col-sm-12"></div>
            <div class="col-sm-12">
              <input type="email" class="form-control" name="email" placeholder="Email Address"/>
            </div>
            <div class="col-sm-12">
              <input type="password" class="form-control" name="password" placeholder="Password"/>
            </div>
            <div class="social col-xs-12">
              <a href="#" class="btn green col-xs-12">CREATE ACCOUNT</a>
            </div>
            <div class="social col-xs-12">
              <p>By signing up, you agree to the <a href="#">Term of Service</a></p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </article>

</div>
